
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="js/jquery.fullpage.min.js"></script>
<script type="text/javascript" src="js/scrolloverflow.min.js"></script>
<script>
$(document).ready(function() {
	$('#fullpage').fullpage({
    navigation: true,
    scrollOverflow: true,
    sectionsColor : ['#fff', '#3096EB','#ED5246','#34D500','#ED5246','#3096EB'],
  });
});
</script>

</body>
</html>
