<!doctype html>
<html lang= {{ site.language }} >
<head>
  <meta charset="utf-8"/>
  <meta name="viewpoint" content="width=device-width, initial-scale=1"/>
  <meta name="description" content= {{ site.description }}/>

  <title>{{ site.title }}</title>

  <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />

  <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/pure-min.css"/>
  <link rel="stylesheet" href="/css/grids-responsive-min.css"/>
  <link rel="stylesheet" href="/css/datahives.css"/>

</head>
<body>
