<!doctype html>
<html lang= {{ site.language }} >
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content= {{ site.description }}/>

  <title>{{ site.title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/img/favicon-16x16.png">
  <link rel="manifest" href="{{site.url}}/img/manifest.json">
  <link rel="mask-icon" href="{{site.url}}/img/safari-pinned-tab.svg" color="#5bbad5">

  <link rel="stylesheet" href="{{ site.url }}/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.url }}/css/pure-min.css"/>
  <link rel="stylesheet" href="{{ site.url }}/css/grids-responsive-min.css"/>
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/jquery.fullpage.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.url }}/css/datahives.css"/>
  <link rel="stylesheet" href="{{ site.url }}/css/style.css"/>

</head>
<body>
