<!doctype html>
<html lang= {{ site.language }} >
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content= {{ site.description }}/>

  <title>{{ site.title }}</title>

  <link rel="icon" type="image/png" href="{{ site.url }}/img/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ site.url }}/img/favicon-16x16.png" sizes="16x16" />

  <link rel="stylesheet" href="{{ site.url }}/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.url }}/css/pure-min.css"/>
  <link rel="stylesheet" href="{{ site.url }}/css/grids-responsive-min.css"/>
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/jquery.fullpage.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.url }}/css/datahives.css"/>
  <link rel="stylesheet" href="{{ site.url }}/css/style.css"/>

</head>
<body>
